<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.googleassistance">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/jarvis"
        android:label="@string/app_name"
        android:roundIcon="@drawable/jarvis"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SearchFiles"></activity>
        <activity
            android:name=".CallingActivity"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".Information"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PdfActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>